@-webkit-keyframes hamFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hamburger {
    width: 24px;
    height: 24px;
    display: block;
    position: relative;
    cursor: pointer;

    /* -webkit-animation-fill-mode: both;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: hamFade; */
}

.hamburger1,
.hamburger3 {
    background: white;
    width: 24px;
    height: 2px;
    border-radius: 1px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    -webkit-animation-duration: 0.25s;
    -moz-animation-duration: 0.25s;
    animation-duration: 0.25s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.hamburger1 {
    top: 6px;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-animation-name: ham1Rev;
    -moz-animation-name: ham1Rev;
    animation-name: ham1Rev;
}

.hamburger2 {
    display: none;
}

.hamburger3 {
    top: 16px;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-animation-name: ham3Rev;
    -moz-animation-name: ham3Rev;
    animation-name: ham3Rev;
}

@-webkit-keyframes ham1 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg) translateY(-7px) translateX(2px);
    }
}

@-webkit-keyframes ham1Rev {
    0% {
        -webkit-transform: rotate(45deg) translateY(-7px) translateX(2px);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-webkit-keyframes ham3 {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-45deg) translateY(6px) translateX(2px);
    }
}

@-webkit-keyframes ham3Rev {
    0% {
        -webkit-transform: rotate(-45deg) translateY(6px) translateX(2px);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

.hamburger.clicked .hamburger1 {
    -webkit-animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: ham1;
}

.hamburger.clicked .hamburger3 {
    -webkit-animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: ham3;
}
